body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  color: #3e4a5a;
}
header {
  background: white;
  margin: 0;
  padding: 20px 40px;
}
h1 {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-weight: normal;
}
h2,
h3 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  line-height: 1.1;
}

main {
  min-height: 700px;
  background: #fff;
  margin: 50px;
  padding: 40px;
  border-radius: 20px;
}
a {
  color: #4a72b2;
  text-decoration: none;
}
button {
  padding: 4px 10px;
  border: 1px solid #999;
}
