/* Element */
p {
  color: rgba(211, 106, 106, 0.502);
}

/* Klasa */
div {
}
.card {
  padding: 20px;
}

/* Id */

#header {
  height: 80px;
}

/* Potomek */

article p {
  line-height: 1.6;
}

/* Dziecko */
ul > li {
  list-style: square;
}

/* Atrybut */

input[type='text'] {
  border: 1px solid gray;
}
input[disabled] {
  border: 1px solid gray;
}

/* Pseudo klasy */

/* hover  */
button:hover {
  background: #f7797d;
}

/* focus  */
input:focus {
  outline: 2px solid #f7797d;
}

/* first-child / last-child / nth-child */
li:nth-child(odd) {
  background: #eee;
}

/* not */
button:not(.primary) {
  opacity: 0.7;
}

/* is / where */
:is(h1, h2, h3) {
  font-family: sans-serif;
}

/* has */
.card:has(img) {
  padding-top: 0;
}

/* wiele elementów */
p,
div,
.red,
#asd {
  padding: 20px;
}
