body {
  min-height: 1900px;
}
main {
  height: 700px;
  background: #fff;
  margin: 50px;
  padding: 40px;
  border-radius: 20px;
}

#inline-block {
  display: inline-block;
  background: #f7f7f7;
  padding: 4px 10px;
  border-radius: 4px;
}

#container {
  width: 700px;
  height: 600px;
  background: #ddd;
  border-radius: 20px;
  position: relative;
}
.box {
  width: 150px;
  height: 150px;
  border-top: 4px solid #c8d6e5;
  border-bottom: 4px solid #c8d6e5;
  /* margin: 10px; */
  padding: 15px;
  border-radius: 14px;
  /* display: inline-block; */
  position: absolute;
  /* top: 20px; */
}
#d1 {
  background: #ffd6e8;
  /* position: fixed; */
  top: 0;
  left: 0;
  /* right: 50px; */
  /* bottom: 10px; */
}

#d2 {
  background: #ffe9c7;
  top: 0;
  right: 0;
}
#d3 {
  background: #d8f7d2;
  right: 0;
  bottom: 0;
}
#d4 {
  background: #cceefc;
  left: 0;
  bottom: 0;
}
#d5 {
  background: #e7dbff;
}
